@charset 'utf-8';

@import "settings";
@import "foundation";
@include foundation-everything;

.no-js {
  form {
    display: none;
  }
}

body {
    margin: 1rem 0 0 0;
}

// legend {
//     font-size: 0.85rem;
// }

textarea {
    font-family: monospace;
}

// .button-bar {
//   display: inline-block;
// }

// .row {
//   max-width: none;
// }

// @mixin hetzner-border() {
//   border: {
//     color: $input-prefix-border-color;
//     width: $input-prefix-border-size;
//     style: $input-prefix-border-type;
//   }
// }

// form > .row:nth-child(2) {
//   margin-top: 1rem;
// }

// ul.tabs {
//   border-bottom: {
//     color: $input-prefix-border-color;
//     width: $input-prefix-border-size;
//     style: $input-prefix-border-type;
//   }
// }

// li.tab-title {
//   @include hetzner-border;
//   border-bottom: none;
//   margin-left: 2px;
// }

// li.active {
//   position: relative;
//   top: $input-prefix-border-size;
// }

// form > .row:nth-child(3),
// form > .row:nth-child(4) {
//   @include hetzner-border;
//   padding-top: 1rem;
// }

// form > .row:nth-child(3) {
//   border-top: none;
//   border-bottom: none;
// }

// form > .row:nth-child(4) {
//   border-top: none;
// }

form input.input-group-field {
  border-right: none !important;
}
